* {
box-sizing: border-box; 
font-family: Arial, sans-serif;   
}


html,
body {
    margin: 0px; 
    padding: 0px; 
    background: #00CC66;
    height: 100%;
}

.main{
	margin: 40px auto 0 auto;
	min-height: 450px;
	background: rgba(255, 255, 255, 0.5); 
	background-size: 100%;
	border-radius: 40px;
	padding: 40px;
}

.todo-index{
	display: inline-block;
	padding: 0;
	width: 50%;
	height: 100%;
}

.fblock{
	display: inline-block;
	padding: 0;
	height: 100%;
}

.fblock>.buttons-block{
	display: inline-block;
	padding: 80px 0 0 0;
	width: 260px;
	height: 220px;
	text-align: center;
}

#line{
	width: 360px;
	height: 90px;
	margin-top: 30px;
	border-radius: 15px;
	font-size: 40px;
}
	
#signIn{
	width: 180px;
	height: 90px;
	margin-top: 30px;
	border-radius: 15px;
	font-size: 40px;
}

.left{
	float: left;
}

.right{
	float: right;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.todo-item{
    font-size: 30px;
}

.mytext {
color: white;  
text-align: center; 
padding-top: 20px;  
}
button.on {
width: 150px;  
height: 50px; 
background:rgba(0,0,0,0); 
line-height: 50px;  
color: white;  
font-size: 20px;
margin: 0 auto;  
margin-top: 10px; 
text-decoration: none;  
border: 2px solid white; 
border-radius: 10px; 
}
#of_2, #of_4, #of_6, #of_8{
    background:gold;
    color:black;
} 

button:hover {
background:rgba(0,100,200,0.7);
}

button:active {
background:gold;
color:black;
}

.block {
display: inline-block;
width: 400px; 
height: 150px; 
background:rgba(0,0,0,0);
margin-left: 20px; 
margin-top: 20px; 
border: 2px solid white;  
border-radius: 10px; 
}
#vlaga, #temp {
    font-size: 80px;
}

.todo-index{
    width: 100%;
}